<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Sign Up</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'doctor_style.css' %}" >

	</head>

	<body>
		<div class="sign-up-form">
		<h1>Sign Up Now</h1>
		<form action="doctor_signup" method="post">
			{%csrf_token%}
			<input type="text" class="input-box" placeholder="Username" required>
<!--			<input type="text" class="input-box" placeholder="First name" required>-->
<!--			<input type="text" class="input-box" placeholder="Last Name" required>-->
			<input type="text" class="input-box" placeholder="Hospital name" required>
			<input type="email" class="input-box" placeholder="Enter Email-ID" required>
			<input type="password" class="input-box" placeholder="Enter Password" required>
			<input type="password" class="input-box" placeholder="Confirm Password" required>
			<!-- <input type="text" class="input-box" placeholder="Reference Doctor's ID" required> -->

			<p><span><input type="checkbox" required></span>I agree to terms and conditions</p>
			<button type="button" class="signup-btn">Sign up</button>
			<hr>
			<p><b>OR</b></p>
			<p>Already have an account? <a href="dr_signin.html">Sign in</a></p>
		</form>
		</div>
	<div>
         {%for message in messages%}
         <h3>  {{messages}}  </h3>
         {%endfor%}
     </div>
	</body>

</html>
